<nav id="header" class="app-component navbar navbar-inner navbar-fixed-top">
    <div class="collapse navbar-collapse">
        <div class="col-md-6 text-white text-center justify-content-middle align-items-center">
            <h2>Edugame</h2>
        </div>
        <div>
            <button (click)="testGet()">
                 Get
            </button>
        </div>
        <div>
            <button (click)="testPost()">
                Post
            </button>
        </div>
    </div>
</nav>
